backend/venv/
backend/__pycache__/

backend/models/__pycache__/
backend/models/arima
backend/models/xgboost
backend/models/lstm
backend/models/prophet
backend/models/random_forest
backend/models/linear_regression

backend/routers/__pycache__/

users.json